.board-header {
    @include flex(center, center, column);
    gap: 15px;
    // flex-direction: column;
    width: 90%;
    margin: 0 auto 20px auto;

    .board-info {
        @include flex(space-between, center, row);
        width: 100%;
        font-family: Lato;

        .board-title {
            @include flex(start, flex-start, column);
            flex: 6;
            gap: 5px;
        }

        .board-title .main-title {
            @include flex(center, center, row);
            gap: 10px;

            button {
                padding: 0;
                border: none;
            }
            // flex: 6;
            // width: 100%;
            h2,
            input {
                text-align: left;
                color: #2c3e50;
                width: 100%;
                height: 100%;
                font-family: Lato;
                font-weight: 600;
                font-size: 1.5em;
                border: none;
                outline: none;
                transition: 0.2s;
                border-radius: 5px;
                padding: 3px 0px;

                &:focus {
                    box-shadow: 0 0 1px 1px #2c3e50;
                }
            }
        }

        .board-title .sub-title {
            width: 100%;
            p {
                text-align: left;
                color: #2c3e50;
                width: 100%;
                height: 100%;
                font-family: Lato;
                font-weight: 400;
                font-size: 1em;
                border: none;
                outline: none;
                transition: 0.2s;
                border-radius: 5px;
                padding: 3px 0px;

                &:focus {
                    box-shadow: 0 0 1px 1px #2c3e50;
                }
            }
        }

        .members {
            @include flex(center, center, row);
            gap: 0px;
        }

        h2,
        p,
        input {
            margin: 0;
            padding: 0;
        }

        .avatar {
            width: 25%;
        }
    }

    .board-actions {
        @include flex(start, center, row);
        width: 100%;
        gap: 5px;
    }
}
