.group-list {
    margin-top: 20px;
    padding-inline: 30px;
    width: 100%;

    .group-details {
        width: 100%;
    }

    .preview-group {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        flex: 2;
        min-width: 260px;
        border-inline-end: 6px solid transparent;

        .group-title {
            @include flex(space-between, center, row);
            padding-inline-end: 10px;
            height: 100%;
            min-width: 275px;
            flex: 2;
        }
    }

    .flip-list-move {
        transition: transform 0.5s;
    }

    .ghost {
        border: 1px dashed #555;
        background: #dddedf;
        box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.14);
        opacity: 0.5;
        transition: transform 0.5s;
    }

    .group-container {
        display: flex;
        justify-content: start;
        gap: 0px;
        .task-list {
            width: 100%;
        }
    }

    .sortable-drag {
        opacity: 0;
    }

    ul {
        @include flex(start, start, column);
        gap: 5px;
        list-style-type: none;
        font-family: Lato-Light;
        margin-bottom: 15px;

        .group-title {
            font-weight: 600;
        }

        li {
            padding: 5px;
            margin-left: 5px;

            &:hover {
                box-shadow: 0 0 1px 1px #dbdbdb;
            }
            .el-color-picker {
                position: absolute;
                right: 0;
                top: 0px;
                opacity: 0;
                .el-color-picker__trigger {
                    width: 181px;
                }
            }
        }

        .el-dropdown {
            button {
                @include flex(center, center, row);
                border: none;
                margin: 0;
                padding: 0;
                border-radius: 50%;
            }

            .group-dropdown-menu {
                margin-right: 0;
                position: relative;
                right: 2px;
            }
        }

        .input {
            border: none;
            box-shadow: 0 0 1px 1px #dbdbdb;
            background: transparent;
            outline: none;
            font-family: Lato;
            font-size: 1rem;
            font-weight: 600;
            padding: 5px;
            margin-left: 5px;
        }
    }
}

.el-color-picker {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

    .el-color-picker__trigger {
        width: 100%;
        opacity: 0;
    }
}

.columns {
    display: flex;
    min-width: 300px;

    .column-title {
        position: relative;
        right: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        width: 180px;
        height: 39px;
        min-width: 75px;
        transition: 0.3s;
        cursor: grab;

        &:hover {
            background-color: #f5f5f5;
        }

        i {
            font-size: 0.8rem;
            color: lightgray;
            padding-left: 9px;
            padding-top: 4px;

            &:first-of-type {
                padding-left: 0;
                padding-right: 9px;
            }
        }
    }
}

.ghost-columns {
    background: #dddedf;
    opacity: 0.5;
    transition: transform 0.5s;
}

@media (max-width: $break-wide) {
    .group-container {
        width: 1000px;
    }

    .group-list {
        padding-inline: 10px;
    }
}
