//970
.home {
    height: 100vh;
    font-family: Lato;
    .header {
        min-height: 70%;
        #nav {
            @include flex(flex-end);
            // background-color: #595ad4;
            gap: 20px;
            margin-right: 130px;
            a {
                font-family: Roboto;
                font-weight: 900;
                color: #ffffff;
                transition: 0.3s;

                &:hover {
                    color: #b4b4e7;
                    transform: scale(110%, 110%);
                }
            }
        }
        .back {
            background-image: linear-gradient(
                204deg
                , #6C76B9, #4A89C4, #2B99C5, #2DA7BD, #4EB3B2, #66BDBC, #7CC7C6, #91D1D0, #AEDBE7, #CFE5F4, #ECF1FB, #FFFFFF);            background-size: cover;
            min-height: 70%;
            width: 100%;
            position: absolute;
            top: 0;
            border-radius: 0 0 150px 0;
            /* right: 0; */
            z-index: -1;
        }
        .title {
            @include flex(center, start);
            gap: 20px;
            flex-wrap: wrap;
            margin: 40px 20px;
            margin-top: 63px;
            .home-desc {
                margin-top: 35px;
                height: 100%;
                @include flex(space-between, start, column);
                p {
                    font-size: 17px;
                    color: white;
                    margin-bottom: 5px;
                }
                h2 {
                    font-size: 2.4rem;
                    color: white;
                    text-shadow: 0 0 5px black;
                }
            }
            .home-img {
                width: 30vw;
            }
            @media (max-width: 970px) {
                flex-direction: column-reverse;
                align-items: center;
                margin-top: 0;

                .home-img {
                    width: 65%;
                }
                .home-desc {
                    align-items: center;
                }
            }
        }

        .btn-go {
            cursor: pointer;
            height: 50px;
            width: 208px;
            margin-top: 60px;
            border-radius: 15px;
            border: none;
            background-color: rgb(253, 253, 253);
            color: #5E375E;
            font-size: 19px;
            font-family: Roboto;
            text-transform: capitalize;
            font-weight: 600;

            transition: 0.5s;

            &:hover {
                box-shadow: 0 0 10px black;
            }
        }
        .login-btn {
            position: absolute;
            top: 19px;
            right: 30px;
            height: 40px;
            width: 108px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background-color: rgb(253, 253, 253);
            color: #5E375E;
            font-size: 18px;
            font-family: Roboto;
            text-transform: capitalize;
            font-weight: 600;

            transition: 0.5s;

            &:hover {
                box-shadow: 0 0 5px black;
            }
        }
        @media (max-width: 970px) {
            height: 80%;
            // margin-bottom: 40px;
            .back {
                height: 80%;
            }
        }
    }
    .info {
        @include flex;
        gap: 10%;
        flex-wrap: wrap;
        min-height: 50%;
        width: 100%;
        border-radius: 0 0 150px 0;
        background-color: white;
        .icon {
            height: 120px;
            width: 120px;
            background-image: linear-gradient(
                204deg
                , #6C76B9, #4A89C4, #2B99C5, #2DA7BD, #4EB3B2, #66BDBC, #7CC7C6, #91D1D0, #AEDBE7, #CFE5F4, #ECF1FB, #FFFFFF);
            border-radius: 50%;
            i {
                position: relative;
                top: 50%;

                transform: translateY(-50%);
                font-size: 40px;
                color: white;
                text-align: center;
            }
        }
        .item {
            @include flex(center, center, column);
            gap: 10px;
            margin-bottom: 20px;
            h3 {
                margin-bottom: 10px;
                color: #6C76B9;
            }
            .desc {
                width: 20ch;
                color: #6C76B9;
            }
        }
        @media (max-width: 970px) {
            padding-top: 40px;
        }
    }

    .details {
        background-color: #ECF1FB;
        min-height: 80%;
        border-radius:200px 0 0 0;
        padding: 30px;

        @include flex(center, center, column);
gap: 60px;
        .manage,
        .set-up {
            width: 80%;
            @include flex(start,start);
            gap: 20px;
            div {
                @include flex(start, start, column);
                flex: 1;
                img {
                    // width: 80%;
                    border-radius: 5px;
                    // flex: 1;
                }

                h2 {
                    font-size: 2.3rem;
                    color: rgb(0, 0, 0);
                    text-align: start;
                }
                p {
                    text-align: start;
                }
            }
        }
        @media (max-width: 970px) {
            gap: 100px;
            padding-top: 50px;
            .manage,
            .set-up {
                flex-direction: column;
                gap: 20px;
                div {
                    align-items: center;
                    text-align: center;
                    h2,
                    p {
                        text-align: center;
                    }
                }
            }
        }
        // background-color: #3f3f91;
    }
}
