.login-signup {
    .el-tabs__item {
        font-weight: 600;
        font-family: Lato;
        font-size: 15px;
        background: -webkit-linear-gradient(#2ea8e0, #ad59e6);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .el-form-item__content {
        margin: 0;
    }
    .el-button {
        margin: 0;
    }
}
