.person-column {
    position: relative;
    width: 250px;

    .empty-delegate-list {
        color: gray;
        font-size: 23px;
    }

    .avatar-list {
        @include flex;
        // margin: 0 auto;

        div {
            // margin: 0 auto;
            // height: 27px;
            font-weight: 600;
            margin-inline: -2.5px;
        }

        .vue-avatar--wrapper {
            span {
                font-weight: 600;
                font-family: Lato;
                font-size: 12px;
                color: rgb(117, 117, 117);
            }
        }
    }
}
