.person-preview {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0.3rem;
    transition: 0.2s;
    cursor: pointer;

    & > * {
        margin-left: 0.5rem;
    }

    &:hover {
        background-color: lightgray;
    }
}
