.person-preview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.3rem;
    transition: 0.2s;
    cursor: pointer;
    font-family: Lato;

    & > * {
        margin-left: 0.5rem;
    }

    &:hover {
        background-color: rgb(243, 243, 243);
    }
}
