.person-picker {
    @include flex(flex-start, start, column);
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;

    .delegate-list {
        border-bottom: 1px solid #818181;
        width: 100%;
    }

    .member-list {
        width: 100%;
    }
}
