.person-column {
    position: relative;
    width: 250px;

    .empty-delegate-list {
        color: gray;
        font-size: 23px;
    }

    .avatar-list {
        @include flex;

        div {
            height: 27px;
        }
    }

}
