.status-column{
    position: relative;
    width: 120px;
    
    .status-text{
        @include flex;
        height: 100%;
        width: 100%;
        color: whitesmoke;
        font-weight: 100;

        &:hover {
            font-weight: 600;
        }
    }
}