.status-picker{
    position: absolute;
    top: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 1px solid lightgray;
}